<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dashboard.css">
    <link href="/static/materializ.css" rel="stylesheet" />
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper-profile">
                        <img src="{{avatar}}" alt="avatar" class="circle profile">
                        <p class="title">{{name}}</p>
                        <p class="text">Google ID (User ID) : <span>{{googleid}}</span></p>
                        <p class="text">Email : <span>{{email}}</span></p>
                        <div>
                            {% if (file=="uploaded" ) %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>Success!</strong> Your File is Uploaded.
                            </div>
                            {% elif (file == "notuploaded") %}
                            <div class="light-blue lighten-1" style="padding: 2px 10px">
                                <p>Failed to upload please try again</p>
                            </div>
                            {% endif %}
                            {% if (file=="sent" ) %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>Success!</strong> Your Email sent.
                            </div>
                            {% elif (file == "notsent") %}
                            <div class="light-blue lighten-1" style="padding: 2px 10px">
                                <p>Failed to send please try again</p>
                            </div>
                            {% endif %}
                        </div>
                        <form action="/uploadFile" method="post" enctype="multipart/form-data">

                            <input type="file" id="files" name="file" multiple="multiple" class="btn-select" />

                            <input type="submit" value="Upload Files" id="submitBtn" class="btn btn-lg btn-primary" />
                            <a href="/auth/logout" class="btn-logout">LOGOUT</a>
                        </form>
                        <form action="/sendMail" method="post" enctype="multipart/form-data">
                            <input type="submit" value="Send" id="submitBtn" class="btn btn-lg btn-primary" />
                        </form>
                        <!-- <a href="mailhtml" class="btn-logout">mail</a> -->
                    </div>

                    <div class="wrapper-files">
                        <h3>Previously uploaded files</h3>

                        {% if (file=="deleted" ) %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Success!</strong> Your file is deleted.
                        </div>
                        {% elif (file == "not_deleted") %}
                        <div class="light-blue lighten-1" style="padding: 2px 10px">
                            <p>Failed to upload please try again</p>
                        </div>
                        {% endif %}

                        {% set count = 0 %}

                        {% if uploadedFiles.length > 0 %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">id</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in uploadedFiles %}
                                {% set count = count + 1 %}

                            <tr>
                                    <td class="font-weight-bold">{{count}}</td>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                <td>
                                    <form action="/deleteFile" method="post">
                                        <input type="text" style="display: none" name="item_id" value={{item.id}} />
                                    <button class="btn btn-danger" type="submit">
                                        <i class="fa fa-times">

                                        </i>
                                    </button>
                                    </form>
                                </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                    </div>


                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    document.getElementById('submitBtn').disabled = true;
    document.getElementById('files').onchange = function (value) {
        // fire the upload here

        if (document.getElementById('files').value === "") {
            document.getElementById('submitBtn').disabled = true;
        } else {
            document.getElementById('submitBtn').disabled = false;
        }
    };
</script>

</html>