<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dashboard.css">
    <link href="/static/materializ.css" rel="stylesheet" />
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Hellow</h1>
                    <div class="wrapper-profile">
                        <div>

                            {% if (file=="sent" ) %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>Success!</strong> Your Email sent.
                            </div>
                            {% elif (file == "notsent") %}
                            <div class="light-blue lighten-1" style="padding: 2px 10px">
                                <p>Failed to send please try again</p>
                            </div>
                            {% endif %}
                        </div>

                        <form action="/sendMail" method="post">
                            to:<br>
                            <input type="text" name="toMail"><br>
                            Subject:<br>
                            <input type="text" name="subject"><br>
                            <input type="submit" value="Submit" id="submitBtn" class="btn btn-lg btn-primary" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>